/* Reverse the order of the buttons list so most recent is at the top */

#previous-cities-search {
    transform: rotate(180deg);
    text-align: center;
}

.created-buttons {
    transform: rotate(-180deg);
}

#city-name{
    margin-bottom: -1rem;
}

#clear-history{
    text-align: center;
    width: 85%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    font-size: 14pt;
}