/* Reverse the order of the buttons list so most recent is at the top */

#previous-cities-search {
    transform: rotate(180deg);
}

.created-buttons {
    transform: rotate(-180deg);
}

#city-name{
    margin-bottom: -1rem;
}
